<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ma carte Leaflet locale</title>
<!-- Feuille de style Leaflet -->
<link rel="stylesheet" href="./leaflet/leaflet.css">

<!-- Feuille de style Leaflet Routing Machine -->
<link rel="stylesheet" href="./leaflet-routing-machine/leaflet-routing-machine.css">


  <style>
    /* Donne une taille à la div qui contiendra la carte */
    #map {
      width: 700px;
      height: 600px;
    }
    /* Conteneur pour les instructions */
    #route-infos {
      width: 30%;
      height: 500px;
      float: right; /* à droite de la carte, par exemple */
      overflow-y: auto; /* permet de scroller si les infos sont longues */
      box-sizing: border-box;
      padding: 10px;
    }
    .leaflet-routing-container {
      display: none !important;
    }
  </style>
</head>
<body>

<h1>Ma carte OpenStreetMap avec Leaflet (en local)</h1>

<!-- Conteneur pour la carte -->
<div id="map"></div>

<div id="route-infos"></div>


<!-- Script Leaflet -->
<script src="./leaflet/leaflet.js"></script>

<!-- Script Leaflet Routing Machine -->
<script src="./leaflet-routing-machine/leaflet-routing-machine.js"></script>


<!-- Script d'initialisation de la carte -->
<script>
  // Initialiser la carte sur Paris, avec un zoom de 13
  var map = L.map('map').setView([48.8566, 2.3522], 13);

  // Ajouter le calque OSM
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">'
      + 'OpenStreetMap</a> contributors'
  }).addTo(map);
  // Exemple de tableau de lat-lng formant un chemin

L.Routing.control({
    // Points de départ et d’arrivée (waypoints)
    waypoints: [
      L.latLng(48.8566, 2.3522),  // Paris
      L.latLng(49.0097, 2.5479)   // Aéroport CDG
    ],

    // (Optionnel) Autoriser le recalcul en glissant les marqueurs
    routeWhileDragging: true,
    
    
    
    
    //IMPORTANT
    // (Optionnel) Préciser un service de routage personnalisé (OSRM, ORS, etc.)
    /*router: L.Routing.osrmv1({
    serviceUrl: 'https://router.project-osrm.org/route/v1/driving'
    })*/

  }).addTo(map);


</script>


</body>
</html>
