.schedule {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.timeline {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.hour {
  width: 50px;
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hour.selected {
  background-color: #293358;
  color: white;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  background-color: #293358;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #293358;
}

span {
  font-size: 16px;
  font-weight: bold;
}
