.semaine-container {
    margin: 20px;
    text-align: center;
  }

  .btn-back {
    background-color: #293358; /* vert par exemple */
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .days-columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }

  .disabled-day {
    opacity: 0.5;
    position: relative;
  }

  .disabled-day * {
    pointer-events: none; /* tout est bloqué... */
  }

  .disabled-day button {
    pointer-events: auto; /* ... sauf le bouton rouge */
  }

  .day-column {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    min-height: 590px;
  }

  .day-column h3 {
    margin-bottom: 10px;
  }

  .day-hours {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }

  .hour-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    margin: 1px 0;
    background-color: #eee;
    border-radius: 4px;
    font-size: 16px;
    user-select: none; /* évite la sélection de texte */
    cursor: default;
  }

  /* Coloration quand l'heure est dans la plage */
  .hour-block.highlight {
    background-color: #aadfff;
  }

  /* Les blocs "handle" (haut/bas) sont cliquables et on leur donne un curseur différent */
  .hour-block.handle {
    cursor: grab; /* main "grip" */
    outline: 2px solid #333; /* ou un effet visuel pour signifier un "handle" */
  }

  /* Optionnel : effet hover sur les handles */
  .hour-block.handle:hover {
    background-color: #ffa;
  }

  .button-depart-navig{
    padding: 12px 20px;
    border: none;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 8px;
    width: 100%;
  }
  .btn-save{
    background-color: #293358; /* vert par exemple */
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .toggle-button {
    background-color: #293358;
    width: 100%;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
  }

  .toggle-button:hover {
    background-color: #5b3fd8;
  }

  .aller-info {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
