.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #927e6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #927e6e;
}

.success-message {
  color: #927e6e;
  font-size: 24px;
  font-weight: bold;
}

body {
  margin-top: 90px; /* Ajustez selon la hauteur du header */
}

footer{
  background-color: #4848a1;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.nav-main {
  background-color: #927e6e;
  font-size: 25px;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
