 
charset-normalizer==3.4.1
docopt==0.6.2
docutils==0.21.2
eralchemy==1.5.0
Flask==3.1.0
flask-cors==5.0.1        
Flask-SQLAlchemy==3.1.1  
graphviz==0.20.3           
pipreqs==0.4.13
platformdirs==4.3.7      
polyline==2.0.2
Pygments==2.19.1
pylint==3.3.6
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
roman-numerals-py==3.1.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinx-autodoc-typehints==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
urllib3==2.3.0
Werkzeug==3.1.3